.sideContainer {
  flex: 3;
  height: 100vh;
  position: sticky;
  top: 50px;
  overflow-y: scroll;
  .sidebarWrapper {
    padding: 12px;
    margin-top: 40px;
    .sidebarList {
      .sidebarListItem {
        display: flex;
        align-items: center;
        padding: 8px 0;
        border-radius: 6px;
        cursor: pointer;
        &:hover {
          background: #d1d5db;
        }

        .sidebarIcon {
          margin: 0px 10px;
          font-size: 21px;
          color: #a624d1;
        }
        .sidebarText {
          font-size: 16px;
          color: #011631;
          font-weight: 600;
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
  // display: none;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #d6d4c5;
}

// responsivensss

@media only screen and (max-width: 968px) {
  .sideContainer {
    flex: 2;
    .sidebarWrapper {
      padding: 8px;

      .pageItem {
        display: none;
      }
      .groupItem {
        display: none;
      }
      .pageHr {
        display: none;
      }
      .sidebarIcon {
        font-size: 16px;
      }
      .sidebarText {
        font-size: 14px;
        color: blueviolet;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .sideContainer {
    display: none;
  }
}
